@model ContactsViewModel
@{
    ViewData["Title"] = "Контакты";

    static string BeautifyPhoneNumber(string phone) =>
        $"+{phone[0]} ({phone[1..4]}) {phone[4..7]}-{phone[7..9]}-{phone[9..]}";
}

<div id="About" class="container-fluid py-4 mx-4">
    <div class="row align-items-center">
        <div class="col-12">
            <h1 class="display-4 text-dark text-start mb-md-4">Контакты</h1>
        </div>
        <div class="col-12"></div>
        <div class="col-12">
            <p class="h6 text-muted text-start mx-4"> По вопросам работы сайта
            <p class="h6 text-link text-start mx-4"> <a href="mailto:admin@otiumbuild.ru" class="link-dark">admin@otiumbuild.ru</a>
        </div>
        <div class="col-12">
            <p class="h6 text-muted text-start mx-4"> По всем вопросам
        </div>

        <div class="col-lg-1 col-xl-1 col-xxl-1 mx-4 text-start">
            <p class="h6 text-dark text-start text-nowrap"> <a href="#" class="link-dark pe-3" onclick="showModalContact(@Model.Phone1, @Model.Tg1)">@BeautifyPhoneNumber(Model.Phone1)</a>
        </div>
        <div class="col-12"></div>

        <div class="col-lg-1 col-xl-1 col-xxl-1 mx-4 text-start">
            <p class="h6 text-dark text-start text-nowrap"> <a href="#" class="link-dark pe-3" onclick="showModalContact(@Model.Phone2, @Model.Tg2)">@BeautifyPhoneNumber(Model.Phone2)</a>
        </div>
        <div class="col-xxl-9 col-xl-9 col-lg-9"></div>
    </div>

</div>

<div id="modalCenterContact" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Способ связи</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls text-center">
                        <a href="" id="phone" class="px-3 btn" target="_blank"><i class="fa-solid fa-phone"></i> Phone</a>
                        <a href="" id="tg" class="px-3 btn" target="_blank"><i class="fa-brands fa-telegram text-dark"></i> Telegram</a>
                        <a href="" id="wa" class="px-3 btn" target="_blank"><i class="fa-brands fa-whatsapp-square text-dark"></i> Whatsapp</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

